<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header class="light-purple orange-text">
        <h1 >File Uploader</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/log-out">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <%if (!folders) {%>
                <h2>No Folders</h2>
            <%} else {%>
                <h2>Folders:</h2>
                <table>
                    <thead>
                        <th>Name:</th>
                        <th>Number of Files:</th>
                        <th>Edit:</th>
                        <th>Delete:</th>
                    </thead>
                    <tbody>
                        <%folders.forEach((folder) => {%>
                            <tr id="folder-<%=folder.id%>">
                                <td><%=folder.name%></td>
                                <td><%=folder.documents.length%></td>
                                <td><button onclick="toggleVisibility('folder-<%=folder.id%>', 'folder-<%=folder.id%>-form')">Edit</button></td>
                                <td><button onclick="deleteFolder(`<%=folder.id%>`)">Delete</button></td>
                            </tr>
                            <tr id="folder-<%=folder.id%>-form" class="hidden">
                                <form action="/rename/<%=folder.id%>?_method=PATCH" method="POST" >
                                    <td><input type='text' name='name' placeholder="<%=folder.name%>"/></td>
                                    <td><%=folder.documents.length%></td>
                                    <td><input type="submit" value="Rename"></td>
                                    <td><button onclick="deleteFolder(`<%=folder.id%>`)">Delete</button></td>
                                </form>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            <%}%>
            <a href="/add-folder">Create Folder</a>
        </section>
        <section>
        <%if (!documents) {%>
            <h2>You don't have any files!</h2>
        <%} else {%>
            <h2>Files</h2>
            <table>
                <thead>
                    <tr>
                        <th>Folder:</th>
                        <th>File:</th>
                        <th>Size:</th>
                        <th>Download:</th>
                        <th>Edit:</th>
                        <th>Delete:</th>
                    </tr>
                </thead>
                <%documents.forEach((document) => { %>
                    <tr id="document-<%=document.id%>">
                        <td><%=document.folder.name%></td>
                        <td><%=document.originalName%></td>
                        <td><%=formatBytes(document.sizeBytes)%></td>
                        <td><button onclick="toggleVisibility('document-<%=document.id%>', 'document-<%=document.id%>-form')">Edit</button></td>
                        <td><form action="/download/<%=document.savedName%>" method="GET"><input type='submit' value='Download'></form></td>
                        <td><button onclick="deleteDocument(`<%=document.id%>`)">Delete</button></td>
                    </tr>
                    <tr id="document-<%=document.id%>-form" class="hidden">
                        <form action="/edit/<%=document.id%>?_method=PATCH" method="POST">
                            <td>
                                <select name="folderId">
                                    <% folders.forEach((folder)=> { %>
                                        <option value="<%=folder.id%>">
                                            <%=folder.name%>
                                        </option>
                                        <% }) %>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="name" placeholder="<%=document.originalName%>">
                            </td>
                            <td>
                                <%= formatBytes(document.sizeBytes) %>
                            </td>
                            <td>
                                <input type="hidden" name="originalName" value="<%=document.originalName%>" />
                                <input type="submit" value="Make Change">
                            </td>
                            <td>
                                <button type="submit" formaction="/download/<%=document.savedName%>" formmethod="GET">Download</button>
                            </td>
                            <td>
                                <button type="button" onclick="deleteDocument(`<%=document.id%>`)">Delete</button>
                            </td>
                        </form>
                    </tr>

                <%})%>
            </table>
        <%}%>
        <a href="/upload">Upload Document</a>
        </section>
    </main>
    <footer>
        <p>Made by <a href="https://github.com/jdogcodey">jdogcodey</a> following <a
                href='https://www.theodinproject.com/'>The Odin Project</a> - <a
                href='https://www.theodinproject.com/lessons/nodejs-file-uploader'>File Uploader</a></p>
    </footer>
    <script src="/additionaljs.js"></script>
</body>

</html>