<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>File Uploader</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/log-out">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <%if (!folders) {%>
                <h2>No Folders</h2>
                <a href="/add-folder">Create Folder</a>
            <%} else {%>
                <h2>Folders:</h2>
                <table>
                    <thead>
                        <th>Name:</th>
                        <th>Number of Files:</th>
                    </thead>
                    <tbody>
                        <%folders.forEach((folder) => {%>
                            <tr>
                                <td><%=folder.name%></td>
                                <td><%=folder.documents.length%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
                <a href="/add-folder">Add Folder</a>
            <%}%>
        </section>
        <%if (!documents) {%>
            <h2>You don't have any files!</h2>
        <%} else {%>
            <h2>Files</h2>
            <table>
                <thead>
                    <tr>
                        <th>File:</th>
                        <th>Size:</th>
                        <th>Download:</th>
                    </tr>
                </thead>
                <%documents.forEach((document) => { %>
                    <tr>
                        <td><%=document.originalName%></td>
                        <td><%=formatBytes(document.sizeBytes)%></td>
                        <td><a href='/download/:<%=document.savedName%>'>X</a></td>
                    </tr>
                <%})%>
            </table>
        <%}%>
    </main>
    <footer>
        <p>Made by <a href="https://github.com/jdogcodey">jdogcodey</a> following <a
                href='https://www.theodinproject.com/'>The Odin Project</a> - <a
                href='https://www.theodinproject.com/lessons/nodejs-file-uploader'>File Uploader</a></p>
    </footer>
    <script src="additionaljs.js"></script>
</body>

</html>