<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
    
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%if (errors) {console.log(errors)}%>
    <header>
        <h1>File Uploader</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if (!user) {%>
                    <li>
                        <a href="/log-in">Log In</a>
                    </li>
                    <li>
                        <a href="/sign-up">Sign Up</a>
                    </li>
                <%}%>
                <%if (user) {%>
                    <li>
                        <a href="/log-out">Log Out</a>
                    </li>
                <%}%>
            </ul>
        </nav>
    </header>
    <main>
        <%if (!user) {%>
            <div id="log-in" class="<%= errors.length > 0 ? 'hidden' : ''%>">
                <h2>Please log in</h2>
                <form action="/log-in" method="POST">
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="e.g. JohnSmith12" type="text" />
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" />
                    <input type="submit" value="Log In">
                </form>
                <button onclick="toggleVisibility('log-in', 'sign-up')">Not Signed Up? - Click Here</button>
            </div>
            <div id="sign-up" class="<%= errors.length > 0 ? '' : 'hidden'%>">
                <h2>Please sign up</h2>
                <form action="/sign-up" method="POST">
                    <label for="first_name">First Name:</label>
                    <input id="first_name" name="first_name" placeholder="John" type="text" />
                    <% function showError(errors, field) { return errors ? errors.filter((error) => error.path === field).map((error) => error.msg).join(`<br>`): ""}%>
                    <% let wereThereErrors = false;%>
                    <% if (typeof errors !== "undefined" && errors.length > 0 && showError(errors, "first_name")) {%>
                        <p class="error-message"><%= showError(errors, "first_name")%></p>
                    <% let wereThereErrors = true;%>
                    <% } %>
                    <label for="last_name">Last Name:</label>
                    <input id="last_name" name="last_name" placeholder="Smith" type="text" />
                    <% if (typeof errors !=="undefined" && errors.length> 0 && showError(errors, "last_name")) {%>
                        <p class="error-message">
                            <%= showError(errors, "last_name" )%>
                        </p>
                            <% } %>
                    <label for="username">Username:</label>
                    <input id="username" name="username" placeholder="JohnSmith" type="text" />
                    <% if (typeof errors !=="undefined" && errors.length> 0 && showError(errors, "username")) {%>
                        <p class="error-message">
                            <%= showError(errors, "username" )%>
                        </p>
                            <% } %>
                    <label for="email">Email:</label>
                    <input id="email" name="email" placeholder="johnsmith@email.com" type="email" />
                    <% if (typeof errors !=="undefined" && errors.length> 0 && showError(errors, "email")) {%>
                        <p class="error-message">
                            <%= showError(errors, "email" )%>
                        </p>
                            <% } %>
                    <label for="password">Password:</label>
                    <input id="password" name="password" type="password" />
                    <% if (typeof errors !=="undefined" && errors.length> 0 && showError(errors, "password")) {%>
                        <p class="error-message">
                            <%= showError(errors, "password" )%>
                        </p>
                            <% } %>
                    <label for="confirm-password">Confirm Password:</label>
                    <input id="confirm-password" name="confirm-password" type="password" />
                    <% if (typeof errors !=="undefined" && errors.length> 0 && showError(errors, "confirm-password")) {%>
                        <p class="error-message">
                            <%= showError(errors, "confirm-password" )%>
                        </p>
                            <% } %>
                    <input type="submit" value="Sign Up">
                </form>
                <button onclick="toggleVisibility('log-in', 'sign-up')">Already a user? Click Here to Log In</button>
            </div>
        <%}%>
        <%if (user) {%>
            <div>
                <a href="/files">Go to Library</a>
                <a href="/upload">Upload a new document</a>
            </div>
            <%}%>
    </main>
    <footer>
        <p>Made by <a href="https://github.com/jdogcodey">jdogcodey</a> following <a href='https://www.theodinproject.com/'>The Odin Project</a> - <a href='https://www.theodinproject.com/lessons/nodejs-file-uploader'>File Uploader</a></p>
    </footer>
    <script src="/additionaljs.js"></script>
</body>
</html>